<!--
  templateType: page
  label: Home
  isAvailableForNewContent: true
  screenshotPath: ../images/template-previews/home.png
-->

{% extends "./layouts/base.html" %}

{% block body %}

  {% dnd_area "main_content"
    label="Main Content",
    class="main-content-area"
  %}

    {# ===== Hero Section ===== #}
    {% dnd_section %}
      {% dnd_column %}
        {% dnd_row %}
          {% dnd_module path="../modules/hero-home.module" %}
          {% end_dnd_module %}
        {% end_dnd_row %}
      {% end_dnd_column %}
    {% end_dnd_section %}

    {# ===== Product Cards ===== #}
    {% dnd_section %}
      {% dnd_column %}
        {% dnd_row %}
          {% dnd_module path="../modules/product-cards.module" %}
          {% end_dnd_module %}
        {% end_dnd_row %}
      {% end_dnd_column %}
    {% end_dnd_section %}

    {# ===== Logo Carousel ===== #}
    {% dnd_section %}
      {% dnd_column %}
        {% dnd_row %}
          {% dnd_module path="../modules/logo-carousel.module" %}
          {% end_dnd_module %}
        {% end_dnd_row %}
      {% end_dnd_column %}
    {% end_dnd_section %}

    {# ===== CTA Form ===== #}
    {% dnd_section %}
      {% dnd_column %}
        {% dnd_row %}
          {% dnd_module path="../modules/cta-form.module" %}
          {% end_dnd_module %}
        {% end_dnd_row %}
      {% end_dnd_column %}
    {% end_dnd_section %}

  {% end_dnd_area %}

{% endblock body %}
